:root {
  --clr-neon: hsl(317, 100%, 54%);
  --clr-bg: hsl(323, 21%, 16%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  min-height: 50rem;
  padding: 2rem;

  overflow-y: hidden;

  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);
  color: white;

  position: relative;

  background-image: url('./resources/background.jpeg');
  background-blend-mode: multiply;
  background-size: 20rem 20rem;
  background-repeat: repeat;

  user-select: none;
}

body::after {
  z-index: 100;

  background: black;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  margin-top: 20px;
  margin-bottom: 20px;
}

.title > h1 {
  font: bold 120px 'Cabin Sketch', cursive;
  color: var(--clr-neon);
  text-shadow: 0 0 0.05em var(--clr-neon);

  margin-top: 20px;
  margin-bottom: 0;
}

.title > h2 {
  font: bold 52px 'Cabin Sketch', cursive;
  margin-top: 0;
  margin-bottom: 20px;
}

hr {
  box-sizing: border-box;
  margin: 20px;
}

body > p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
}

.button-container {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.neon-button {
  width: 80%;

  font: bold 60px 'Cabin Sketch', cursive;
  text-shadow: 0 0 0.02em hsl(0, 0%, 100%, 0.2), 0 0 0.05em var(--clr-neon);
  color: var(--clr-neon);
  text-decoration: none;

  background: var(--clr-neon);
  display: inline-block;
  cursor: pointer;
  
  border: var(--clr-neon) 0.2em solid;
  border-radius: 0.1em;
  box-shadow: inset 0 0 0.5em var(--clr-neon), 0 0 0.5em var(--clr-neon);
  padding: 0.25em 1em;
  margin: 20px;

  position: relative;
  overflow: hidden;

  transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.neon-button:hover {
  color: var(--clr-bg);
  text-shadow: 0 0 0.1em black;
}

#boostText {
  z-index: 20;
  position: relative;

  transition: opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

#boostButton > .liquid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-neon);
  transition: 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);

  opacity: 0.7;

  z-index: 10;
}

#boostButton:hover .liquid {
  top: -7rem;
}

#boostButton > .liquid::before,
#boostButton > .liquid::after {
  content: '';
  position: absolute;
  width: 100rem;
  height: 100rem;
  top: -190%;
  left: 50%;
  transform: translate(-50%, -75%);
}

#boostButton > .liquid::before {
  filter: blur(0.4em)
}

#boostButton > .liquid::before {
  border-radius: 45%;
  background-color: var(--clr-bg);
  animation: button-liquid 5s linear infinite;
}

#boostButton > .liquid::after {
  border-radius: 40%;
  background-color: black;
  animation: button-liquid 6s linear infinite;
}

@keyframes button-liquid {
  0% {
    transform: translate(-50%, -85%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -85%) rotate(360deg);
  }
}

.frame {

  width: 49%;
  font: bold 60px 'Cabin Sketch', cursive;
  color: transparent;

  background: none;

  display: inline-block;
  cursor: pointer;
  
  border: var(--clr-neon) 0.2em solid;
  border-radius: 0.1em;
  box-shadow: inset 0 0 0.5em var(--clr-neon), 0 0 0.5em var(--clr-neon);
  padding: 0.25em 1em;
  margin: 20px;

  position: absolute;

  transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);

  pointer-events: none;
}

.frame::before {
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.frame::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.neon-button:hover ~ .frame::before,
.neon-button:hover ~ .frame::after {
  opacity: 1;
}

/* #messages {
  font: 60px 'Cabin Sketch', cursive;
  text-shadow: 0 0 0.2em var(--clr-neon);
  margin-top: 150px;
  opacity: 0;

  transition: opacity 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
} */

/* .fancy-text {
  font: 30px 'Cabin Sketch', cursive;
  margin-top: 80px;
  text-align: left;
} */

.footer {
  font: 30px 'Cabin Sketch', cursive;

  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%)
}

.footer > p {
  font: 10px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}